.u-margin-hug {
  margin: 0;

  &--top {
    margin-top: 0;
  }
}

.u-padding {
  padding: 20px;

  &-lg {
    padding: 60px;
  }

  &-top {
    padding-top: 20px;

    &-lg {
      padding-top: 60px;

    }
  }
}

.u-fullwidth {
  width: 100%;
}

.u-color {

  &-primary {
    color: $color-primary;
  }

  &-secondary {
    color: $color-secondary;
  }

  &-white {
    color: $color-white
  }
}

.u-bg-color {

  &-primary {
    background-color: $color-primary;
  }

  &-primary-shaded {
    background-color: rgba(8,76,161,0.8)
  }
}

.u-text-lg {
  font-size: 40px;
  font-weight: 900;
}

.u-text-center {
  text-align: center;
}

.u-object-fit-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-size:cover;

  &--md {
    width: 500px;
    height: 500px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.u-margin-auto {
  margin: auto;
}

.u-text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.u-list-unstyled {
  list-style: none;
  padding-left: 0;
}
