.grid-2col {
  display: flex;
  flex-wrap: wrap;

  & > * {
    box-sizing: border-box;
    width: 50%;

    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
}

.grid-3col {
  display: flex;
  flex-wrap: wrap;

  & > * {
    box-sizing: border-box;
    width: 30%;
    margin: 1.666666%;

    @media (max-width: $breakpoint-lg) {
      width: 40%;
      margin: 5%;
    }
  
    @media (max-width: $breakpoint-md) {
      width: 100%;
      margin: 0;
    }
  }
}
